
#imgsPer2{
    width:  50%;
    height: 200px;    
    margin-left: 5%;
    margin-top: 3.5%;
}

#imgsPer2 img{
    width: 36%;
    height: 200px;
    border-radius: 10px;

}

#inputsPer2{
    width: 50%;
    height: 100px;
    margin-left: 5%;
    margin-top: 1%;
}

#inputsPer2 input{
    width: 36%;
    height: 50px;

}